@page
@model MyFeedback.Api.Pages.EditExitSlipModel
@{

    <h2>Redigér exit slip</h2>
        
    <div class="row">
        <div class="col-md-6">

             <form method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="ExitSlipViewModel.Id" class="form-control" />
                <input type="hidden" asp-for="ExitSlipViewModel.RowVersion" class="form-control" />
            <!--    <input type="hidden" asp-for="ExitSlipViewModel.QuestionList" class="form-control" /> -->
                <input type="hidden" asp-for="ExitSlipViewModel.LessonId" class="form-control" />
                <input type="hidden" asp-for="ExitSlipViewModel.IsPublished" class="form-control" />

                @foreach (var createQuestionRequestDto in Model.ExitSlipViewModel.QuestionList)
             {

                <div class="form-group">
                
                  

                    <label asp-for="@createQuestionRequestDto.QuestionNumber"></label>
                    <input name="@createQuestionRequestDto.QuestionNumber" asp-for="@createQuestionRequestDto.QuestionText" />
                    <span asp-validation-for="@createQuestionRequestDto.QuestionText"></span>

                </div>

             }

             <button type="submit" class="btn btn-default">Gem</button>


             </form>
        </div>
    </div>
        

}
