@page
@model MyFeedback.Api.Pages.ExitSlipModel
@{
    

    <form method="post">

        <div>
        <label>Spørgsmål 1</label>
        </div>

        <div>
        <textarea id="Question1" rows="4" cols="50" placeholder="Skriv dit spørgsmål her..." maxlength="200" name="question1Text"></textarea>
        </div>

        <div>
            <label>Spørgsmål 2</label>
        </div>

        <div>
            <textarea id="Question2" rows="4" cols="50" placeholder="Skriv dit spørgsmål her..." maxlength="200" name="question2Text"></textarea>
        </div>

        <div>
            <label>Spørgsmål 3</label>
        </div>

        <div>
            <textarea id="Question3" rows="4" cols="50" placeholder="Skriv dit spørgsmål her..." maxlength="200" name="question3Text"></textarea>
        </div>

        <div>
            <label>Spørgsmål 4</label>
        </div>

        <div>
            <textarea id="Question4" rows="4" cols="50" placeholder="Skriv dit spørgsmål her..." maxlength="200" name="question4Text"></textarea>
        </div>

        <div>
            <label>Spørgsmål 5</label>
        </div>

        <div>
            <textarea id="Question5" rows="4" cols="50" placeholder="Skriv dit spørgsmål her..." maxlength="200" name="question5Text"></textarea>
        </div>
     
        <button type="submit" class="btn btn-info">Gem hele exit slip</button>

       
    </form>
}
