@page
@model MyFeedback.Api.Pages.TeacherExitSlipStartPageModel
@{
    <table class="table table-striped">
        <thead>
            <tr>

                <th scope="col">Id</th>
                <th scope="col">Lesson Id</th>
                <th scope="col">Ér publiceret?</th>

            


            </tr>
        </thead>
        <tbody>
            @foreach (var exitSlipDto in Model.ExitSlipDtoList)
            {
                <tr>

                    <th scope="row">@exitSlipDto.Id</th>
                    <td>@exitSlipDto.LessonId</td>

                    <td>@exitSlipDto.IsPublished</td>

                

                   
                    
                    <td> <a asp-page="EditExitSlip" asp-route-id="@exitSlipDto.Id" class="btn btn-secondary">Gå til exit slip</a></td>

                    <!--
                    <td>Lalala</td>
                    -->

                </tr>
            }
        </tbody>
    </table>
}
