@page
@model MyFeedback.Frontend.Pages.EditExitSlipModel
@{

    <h2>Redigér exit slip</h2>


            <form method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @for (int i = 0; i < Model.ExitSlipViewModel.QuestionList.Count(); i++)
            {
                
                 <label>Spørgsmål @Model.ExitSlipViewModel.QuestionList[i].QuestionNumber</label>

                 <br />

                <input asp-for="ExitSlipViewModel.QuestionList[i].QuestionText" readonly="@(Model.ExitSlipViewModel.IsPublished ? "readonly" : null)"/>

                 <input asp-for="ExitSlipViewModel.QuestionList[i].QuestionText" hidden />

                 <br />
                 <br />

            }

            @if (Model.ExitSlipViewModel.IsPublished == true)
            {
                <label>Denne exit slip er allerede publiceret, så du kan ikke redigere i spørgsmålene</label>
            }
            else
            {
                <label> Publicér</label>
                <input asp-for="ExitSlipViewModel.IsPublished" />
            }

        <br />

             <button type="submit" class="btn btn-info">Gem</button>


             </form>

}
